.container-list{
    min-width: 50%;
    .header{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    &__table{
        width: 90%;
    }
}
.employee-container{
    &__filter{
        width: 90%;
    }
}
