<div
  *ngIf="employeeStorage$ | async as employeeState"
  class="employee-card"
  fxLayout="column"
  fxLayoutGap="25px"
  fxLayoutAlign="center center"
>
  <div></div>
  <mat-card class="container-list mat-elevation-z8">
    <div class="header">
      <h2>{{ 'main-component.user-list.title' | translate }}</h2>
    </div>
    <mat-card-content class="employee-container" fxLayout="column" fxLayoutGap="25px" fxLayoutAlign="center center">
      <mat-form-field class="employee-container__filter">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'main-component.user-list.filter' | translate }}" />
      </mat-form-field>
      <div class="container-list__table" fxLayout="column" fxLayoutGap="25px">
        <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="container-list__table--icon" mat-cell *matCellDef="let employee">
              <mat-icon>{{ employee.icon }}</mat-icon>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{ 'main-component.user-list.name' | translate }}</th>
            <td mat-cell *matCellDef="let employee">
              <button mat-button (click)="openDialog(employee)">
                <span>{{ employee.employee_name }}</span>
              </button>
            </td>
          </ng-container>

          <!-- Years Column -->
          <ng-container matColumnDef="years">
            <th mat-header-cell *matHeaderCellDef>{{ 'main-component.user-list.age' | translate }}</th>
            <td mat-cell *matCellDef="let employee">
              <button mat-button (click)="openDialog(employee)">
                <span>{{ 'main-component.user-list.age-prefix' | translate:{ age:employee.employee_age } }}</span>
              </button>
            </td>
          </ng-container>

          <!-- Delete Column -->
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef translate></th>
            <td mat-cell *matCellDef="let employee">
              <button mat-button (click)="deleteEmployee(employee)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [hidePageSize]="true"></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
