/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

// $primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Raleway', sans-serif;

body{
    margin: 0;
    font-family: $secondary-font;
}