<h1 class="header" mat-dialog-title>{{ 'main-component.employee-modal.title' | translate }}</h1>
<mat-dialog-content fxLayout="column" fxLayoutGap="25px">
  <div class="employee-detail" fxLayout.xs="column" fxLayout="row" fxLayoutGap="25px">
    <div fxFlex fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="start center">
      <div fxLayout="column">
        <h3 class="bold" [hidden]="!disableButton">{{ employee.employee_name }}</h3>
        <label class="bold" [hidden]="disableButton" for="nameEmployee">{{ 'main-component.employee-modal.name' | translate }}:</label>
        <input id="nameEmployee" type="text" [(ngModel)]="nameEmployee" [hidden]="disableButton" />
      </div>
      <div>
        <img class="avatar" [src]="employee.profile_image" [alt]="employee.employee_name" />
      </div>
    </div>
    <div fxFlex fxLayout="column" fxLayoutGap="15px">
      <div>
        <h3 class="bold">{{ 'main-component.employee-modal.age' | translate }}:</h3>
        <span [hidden]="!disableButton">{{ 'main-component.employee-modal.age-prefix' | translate: { age: employee.employee_age } }}</span>
        <label hidden for="ageEmployee">{{ 'main-component.employee-modal.age' | translate }}:</label>
        <input id="ageEmployee" type="text" [(ngModel)]="ageEmployee" [hidden]="disableButton" />
      </div>
      <div>
        <h3 class="bold">{{ 'main-component.employee-modal.salary' | translate }}:</h3>
        <span [hidden]="!disableButton">{{ employee.employee_salary | currency }}</span>
        <label hidden for="salaryEmployee">{{ 'main-component.employee-modal.salary' | translate }}:</label>
        <input id="salaryEmployee" type="text" [(ngModel)]="salaryEmployee" [hidden]="disableButton" />
      </div>
      <div>
        <h3 class="bold">{{ 'main-component.employee-modal.seniority' | translate }}:</h3>
        <mat-icon>{{ employee.icon }}</mat-icon>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <button mat-raised-button color="primary" (click)="edit()">{{ 'main-component.employee-modal.button-edit' | translate }}</button>
    <button mat-raised-button color="warn" (click)="cancel()">{{ 'main-component.employee-modal.button-cancel' | translate }}</button>
    <button mat-raised-button color="accent" [disabled]="disableButton" (click)="accept(employee.id)">{{ 'main-component.employee-modal.button-accept' | translate }}</button>
  </div>
</mat-dialog-content>
